POI_API_URL='https://YOUR-FUNCTION.azurewebsites.net/api/pois'
REGION_API_URL='https://YOUR-FUNCTION.azurewebsites.net/api/regions'
DONATION_API_URL='https://YOUR-FUNCTION.azurewebsites.net/api/donations'
SWA_CLI_DEPLOYMENT_TOKEN='your-static-web-app-token'
